<template>
  <cart-item v-for="item in pokeData" :key="item.id" :item="item" @getPokemon="getPokemon(item.url)"></cart-item>
  <button class="border-2 border-sky-500">increase</button>
</template>

<script>
import PokemonCardItem from "./PokemonCardItem.vue"
export default {
  emits:['getPokemon'],
  components:{
    'cart-item': PokemonCardItem
  },
  props:{
    pokeData:{
      type: Array
    }
  },
  methods: {
    getPokemon (url) {
      this.$emit('getPokemon', url)
    }
  }
}
</script>

<style>

</style>


