<template>
  <button class="block" @click="$emit('getPokemon', item.url)">
      <p> {{item.name}} </p>
  </button>
</template>

<script>
export default {
    emits:['getPokemon'],
    props:{
        item:{
            type: Object
        }
    }
}
</script>

<style>

</style>