<template>
    <div class="flex-col">
        <div class="relative w-full flex flex-wrap justify-center items-center">
            <div class=" w-32">
                <p> {{name}} </p>
                <img :src="image" class="h-44 object-cover" alt="">
            </div>
            <div class=" absolute z-10 space-x-36">
                <button class=" bg-blue-500 text-white" @click="prev">prev</button>
                <button class=" bg-blue-500 text-white" @click="next">next</button>
            </div>
        </div>

    </div>
</template>


<script >
import PokemonCard from "./components/PokemonCard.vue"

 export default{
     data() {
        return {
            pokemons: [],
            pokemon: null,
            loading:false,
            index: 1,
            image: null,
            name: null
        }
    },
    methods: {
        fetchPokemons() {
           fetch(`https://pokeapi.co/api/v2/pokemon/${this.index}`)
            .then(res => res.json())
            .then(data => {
                this.image = data?.sprites?.front_default
                this.name = data?.name
                console.log(data)
            })
        },
        prev() {
            this.index--
            if(this.index <= 1) this.index = 1
            else this.fetchPokemons()
        },
        next() {
            this.index++
            if(this.index > 100) this.index = 151
            else this.fetchPokemons()
        },
    },
    created() {
        this.fetchPokemons();
    },
    components: { PokemonCard },
}


</script>



<style>

</style>
